{% extends 'app1/base/base.html' %}

{% block content %}

<h1>Home Page</h1>

{% if posts %}
    {% for i in posts %}
        <h2>{{i.title}}</h2>
        <small>Author: {{i.author}} | {{i.date_posted|date:"j b Y @ g:i a"}}</small>
        <p>{{i.body}}</p>
        <hr>
    {% endfor %}
{% else %}
    <h3>No posts yet</h3>
{% endif %}

{% if temp %}
    {% if temp|length > 4 %}
    <p>Data more than 4 : {{temp}}</p>
    {% else %}
    <p>Data less than or equal 4 : {{temp}}</p>
    {% endif %}
{% endif %}

{% endblock content %}
